@charset "UTF-8";
@import url("fonts.css");
.setting {
  background: #0d165f;
  background-size: cover;
  color: #F8F8F8;
  font-family: "NunitoSans";
  font-size: 17.5px;
}

.setting:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Блок главного контейнера адаптивной верски */
.conteiner {
  position: relative;
  z-index: 3;
  width: 960px;
  margin: 3.5px auto 0;
  display: flex;
  flex-direction: column;
  gap: 24.5px;
  padding-top: 14px;
  padding-bottom: 130px;
}
.conteiner__center {
  display: flex;
  justify-content: center;
}

/* ------------------------------------------- */
/* Объединенные блоки даты и погоды */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

/* Внешний вид блоков чтобы не дублировать */
.abstract-block {
  background: rgba(245, 245, 245, 0.1);
  border-radius: 11px;
}

/* время, дата и день недели */
.date {
  width: 420px;
  height: 114px;
  padding: 24px;
  flex-direction: column;
  gap: 10px;
}
.date__time {
  font-size: 56px;
  font-family: "Unbounded";
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.date__day-of-the-week {
  font-size: 28px;
  font-family: "Unbounded";
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/* -------------------------- */
/* Город и погода */
.cw {
  width: 420px;
  height: 114px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cw__city {
  font-family: "Unbounded";
  width: 100%;
  font-size: 36px;
  font-weight: 300;
  color: #F8F8F8;
  background: rgba(245, 245, 245, 0);
  border: none;
  outline: none;
  margin: 0;
  padding: 3px;
  border: 1px solid rgba(168, 168, 168, 0.2196078431);
  border-radius: 11px;
}
.cw__weather {
  font-family: "Unbounded";
  font-weight: 100;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.todo-list {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 300px;
}
.todo-list__title {
  font-family: "Unbounded";
  font-size: 56px;
  font-weight: 900;
  margin: 0;
}
.todo-list__tasks {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.todo-list__text {
  margin: 0;
}
.todo-list__delete-all {
  align-self: center;
  width: 200px;
  height: 40px;
  border-color: #fa9f9f;
  color: #F8F8F8;
  background: rgba(224, 123, 123, 0.3843137255);
}
.todo-list__delete-all:hover {
  background: rgba(221, 56, 56, 0.2);
}
.todo-list__new {
  background: rgba(245, 245, 245, 0.1);
  border-radius: 11px;
  padding: 16px 19px;
}
.todo-list__new-add {
  width: 99%;
  font-size: 17.5px;
  color: #F8F8F8;
  min-height: 20px;
  background: rgba(245, 245, 245, 0);
  border: none;
  outline: none;
}
.todo-list__new-add::placeholder {
  color: #d1d1d1;
}
.todo-list__wait {
  padding: 16px 19px;
  display: flex;
  gap: 7px;
}
.todo-list__wait-text {
  padding: 0;
  margin: 0;
  font-size: 17.5px;
  color: #F8F8F8;
  font-family: "NunitoSans";
}
.todo-list__group-link {
  opacity: 0.5;
}
.todo-list__group-link:hover {
  opacity: 1;
}
.todo-list__icon {
  width: 28px;
  fill: red;
}
.todo-list__button-hidden {
  display: none;
}
.todo-list__confirm {
  padding: 16px 19px;
  display: flex;
  gap: 7px;
  display: flex;
  justify-content: space-between;
}
.todo-list__confirm-text {
  padding: 0;
  margin: 0;
  font-size: 17.5px;
  color: #F8F8F8;
  font-family: "NunitoSans";
  text-decoration: line-through;
}

/* -------------------------- */
@media (max-width: 1199px) {
  .conteiner {
    width: 960px;
    gap: 42px;
  }
}
@media (max-width: 991px) {
  .conteiner {
    width: 720px;
    gap: 28px;
  }
  .date {
    height: 70px;
  }
  .date__time {
    font-size: 44px;
  }
  .date__day-of-the-week {
    font-size: 16px;
  }
  .cw {
    height: 70px;
  }
  .cw__city {
    font-size: 26px;
  }
  .cw__weather {
    font-size: 16px;
  }
  .todo-list__title {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .conteiner {
    width: 540px;
    gap: 24.5px;
  }
  .header {
    flex-wrap: wrap;
    text-align: center;
  }
  .date {
    width: 100%;
  }
  .cw {
    width: 100%;
  }
  .cw__city {
    text-align: center;
  }
}
@media (max-width: 561px) {
  .conteiner {
    width: 440px;
  }
}
@media (max-width: 460px) {
  .conteiner {
    min-width: 200px;
    max-width: 85%;
    gap: 21px;
  }
  .date__time {
    font-size: 10vw;
  }
  .date__day-of-the-week {
    font-size: 4vw;
  }
  .cw__city {
    font-size: 5vw;
  }
  .cw__weather {
    font-size: 4vw;
  }
  .todo-list__title {
    font-size: 6vw;
  }
}/*# sourceMappingURL=style.css.map */